<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id='check'class="navbar-item has-text-white" href="/">
      <img src="https://imgur.com/t5VqfJz.jpg" alt="A Glaring Goat">
      Home
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <a href="/artworks" class="navbar-item has-text-white">
        Artworks
      </a>
    </div>
  </div>
  <div class="navbar-item has-dropdown is-hoverable has-background-dark">
    <a class="navbar-link ">
      Add..
    </a>
    <div class="navbar-dropdown has-background-dark">
      <a href="/artworks/new" class="navbar-item">
        Artwork
      </a>
    </div>
  </div>
</nav>
