<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a id='check'class="navbar-item" href="/">
      <img src="https://imgur.com/t5VqfJz.jpg" alt="A Glaring Goat">
      Home
    </a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <% if(locals.isLoggedIn){%>
    <div class="navbar-start">
      <h2>Welcome back, <%= locals.currentUser.username %>!</h2>
    </div>
    <% } %>
    <div class="navbar-end">
      <a href="/artworks" class="navbar-item">
        Artworks
      </a>
      <a href="/users" class="navbar-item">
        Users
      </a>
    </div>
  </div>
  <% if(locals.isLoggedIn){%>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link ">
        Add..
      </a>
      <div class="navbar-dropdown">
        <a href="/artworks/new" class="navbar-item">
          Artwork
        </a>
      </div>
    </div>
  <% } %>
  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link ">
      Account
    </a>
    <% if(locals.isLoggedIn){%>
      <div class="navbar-dropdown">
        <a href="/users/<%= locals.currentUser.id %>/edit" class="navbar-item">
          Edit profile
        </a>
        <a href="/logout" class="navbar-item">
          Logout
        </a>
      </div>
      <%} else {%>
        <div class="navbar-dropdown">
          <a href="/register" class="navbar-item">
            Sign Up
          </a>
          <a href="/login" class="navbar-item">
            Login
          </a>
        </div>
      <% } %>
  </div>
</nav>
