  <div class="columns is-multiline frontpage">
    <div class="column columnMargin is-half">
      <h1 class="title">
        CommissionArt
      </h1>
      <h2 class="subtitle">
        Your direct source for artists avaliable for commission.
      </h2>
    </div>
    <div class="column is-half">
      <div id="slideshow">
        <% artworks.forEach( (product) => { %>
          <div class='imagesContainer'>
            <a href="/artworks/<%= product._id %>">
              <img class="slideShowImages" src="<%= product.source %>">
            </a>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
