.columnMargin{
  margin: auto;
}
div .indexcolumn{
  height: 300px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallImage{
  max-height: 270px;
  max-width: auto;
  background-color: white;
}

.artInfo{
  color: black;
  font-size: 1.2rem;
}

.screensizeimage{
  max-height: 100vh;
}

.bioSidebar{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.userCard:hover, .userCardSmall:hover{
  background-color: #fafafa;
  box-shadow: 2px 2px #666;
}

a{
  color: #005C4D;
}

.bioSidebar *{
  margin-bottom: 10px;
}

.bioSidebar h1{
  font-size: 24px;
  font-weight: bold;
}

.loginForm{
  align-items: center;
}

.loginForm{
  display: flex;
  flex-flow: column;
}
.loginInfo label{
  text-align: left;
}

.userCard{
  width: 760px;
  height: 65px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 3px 3px grey;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
}

.userCard h1{
  margin-left: 10px;
  font-size: 36px;
  line-height: 65px;
  width: 250px;
}

.userCard i{
  width: 50px;
  line-height: 65px;
}
.userCard .styles{
  text-align: left;
  font-size: 14px;
}
.userCardSmall{
  width: 760px;
  height: 30px;
  border-radius: 2px;
  margin: 0 auto;
  margin-bottom: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px grey;
  display: flex;
}
.userCardSmall p{
  color: grey;
  font-size: 0.8em;
  line-height: 30px;
  padding-left: 10px;
}

.displayPic{
  height: 63px;
  width: 63px;
  border-right: 1px solid black;
}

.styles{
  text-align: right;
}

.fa-times-circle{
  color: gray;
}

.fa-check-square{
  color: green;
}

#slideshow {
    margin: 50px auto;
    position: relative;
    width: 50vh;
    height: 50vh;
}
.imagesContainer{
  display:flex;
  justify-content: center;
  align-items: center;
}

.slideShowImages{
  max-height: 100%;
  max-width: 100%;
}
#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.title, .subtitle, .navbar a, .navbar-link::after{
  color: #005C4D;
}

.navbar{
  background-color: #97F2D1;
}
