body{
  background-color: #D3D3D3;
}
.columns{
  background-color: white;
}
.column{
  margin: auto;
}
div .indexcolumn{
  height: 300px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallImage{
  max-height: 270px;
  max-width: auto;
  background-color: white;
}

.artInfo{
  color: black;
  font-size: 1.2rem;
}

.screensizeimage{
  max-height: 100vh;
  max-width: auto;
}

.bioSidebar{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
}

.loginForm{
  align-items: center;
}

.loginForm, .loginInfo{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.loginInfo label{
  text-align: left;
}

.userCard{
  width: 760px;
  height: 65px;
  border-radius: 2px;
  border: 1px solid black;
  box-shadow: 3px 3px grey;
  margin: auto;
  display: flex;
  margin-bottom: 5px;
}
.userCardSmall{
  width: 760px;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 10px;
  border: 1px solid black;
  box-shadow: 3px 3px grey;
  margin: auto;
  display: flex;
}
.userCardSmall p{
  color: grey;
  font-size: 0.8em;
  line-height: 30px;
  padding-left: 10px;
}

.displayPic{
  height: 65px;
  width: 65px;
}

.styles{
  text-align: right;
}

.fa-times-circle{
  color: gray;
}

.fa-check-square{
  color: green;
}
