<h2>Edit your profile</h2>

<form action="/users/<%= user.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="">
    <label class="label">Display Picture link</label>
    <div class="control">
      <input class="input" type="text" name="displayPic" value="<%= user.displayPic %>">
    </div>
  </div>
  <div class="">
    <label class="label">Information about you and commissioning</label>
    <div class="control">
      <textarea name="bio" rows="10" cols="50"><%= user.bio %></textarea> >
    </div>
  </div>
  <div class="" id="checkboxField">
    <legend>Which styles suit you best?</legend>
  <div>
    <input type="checkbox" id="digital" name="prefStyles" value="digital">
    <label for="coding">Digital</label>
  </div>
  <div>
    <input type="checkbox" id="model-edits" name="prefStyles" value="model-edits">
    <label for="music">Model Edits</label>
  </div>
  <div>
    <input type="checkbox" id="image-edits" name="prefStyles" value="image-edits">
    <label for="music">Image edits</label>
  </div>
  <div>
    <input type="checkbox" id="photography" name="prefStyles" value="photography">
    <label for="music">Photography</label>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-texts">Cancel</button>
    </div>
  </div>
</form>
